<div>
    <ul>
        <li *ngFor="let place of places">{{place.Name}}</li>
    </ul>
</div>

<form class="container" #f="ngForm" (ngSubmit)="addPlace(f.value, f)">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" ngModel>
    </div>
    <div class="form-group">
        <label for="RegionId">RegionId</label>
        <input type="text" class="form-control" name="RegionId" ngModel>
    </div>
    <input type="submit" />
</form>