<form class="container" #f="ngForm" (ngSubmit)="addRegion(f.value, f)">
    <div class="form-group">
        <label for="Name">name:</label>
        <input type="text" class="form-control" name="Name" ngModel>
    </div>
    <div>
        <label class="mr-sm-2" for="CountryId">country:</label>
    </div>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="CountryId" name="CountryId" ngModel>
        <option *ngFor="let country of countries" value="{{country.Id}}">{{country.Name}}</option>
    </select>
    <button type="submit" class="btn btn-info">Submit</button>
</form>
<br>
<br>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let region of regions">
            <p>{{region.Name}}
                <p>
        </li>
    </ul>
</div>