<nav class="navbar navbar-toggleable-md">
    <div class="container-fluid">

        <div class="navbar-collapse collapse dual-collapse">
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-item" class="nav-link" [routerLink]="['/acc']">Accomodations </a></li>
                <li><a class="nav-item" class="nav-link" [routerLink]="['/login']">Accomodation types</a></li>
            </ul>
            <!--<ul class="nav nav-pills">

                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/acc']">Accomodations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Accomodation types</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Comments</a>
                </li>

            </ul>-->
        </div>
    </div>
</nav>

<router-outlet></router-outlet>