<p>
    Add App User
</p>
<div>
    <ul>
        <li *ngFor="let appUser of appUser">{{appUser.Username}}</li>
    </ul>
</div>

<form #f="ngForm" (ngSubmit)="addAppUser(f.value, f)">

    <div>
        <label for="Username">Username</label>
        <input type="text" name="Username" ngModel>
    </div>

    <div>
        <label for="Password">Password</label>
        <input type="text" name="Password" ngModel>
    </div>

    <div>
        <label for="Email">Email</label>
        <input type="text" name="Email" ngModel>
    </div>
    <input type="submit" />
</form>